

*{
	box-sizing: border-box;
	/*Specify that <div> elements should have padding and border 
	included in the element's total width and height*/
}

body{
  font-family: Arial, sans-serif;
}

.header{
	width:100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0;
	position: relative;
	/*border: 1px solid #d9d9d9;*/
}

.your-cart{
	padding-right: 2px;
}

.header label{
	margin-top: 15px;
	margin-left: 45px;
}


.cart{
	/*display: flex;*/
	/*justify-content: flex-start;*/
	align-items: flex-end;
	margin-top: 15px;
	margin-right: 45px;
}

.banner{
	display: flex;
	justify-content: center;
}

.banner h1{
	position: absolute;
	top: 100px;
}

.banner img{
	height: 290px;
	width: 100%;
}

.tagline{
	display: flex;
	justify-content: center;
	background-color: black;
}

.tagline h3{
	color: white;
	padding: 20px;
}

.summary-instruction{
	display: flex;
	justify-content: center;
	padding: 10px;
	border: 1px solid black;
}

/********************************************
*** Products table formatting****************
********************************************/

.products{
	display: flex;
	justify-content: center;
	margin: 15px;
}


.item{
	text-align: center;
	border: 1px solid black;
	width: 150px;
	margin : 5px;
}

/*.item label img{
	display: block;
}*/

.item-name{
	color: white;
	background-color: black;
}

button{
	background-color: orange;
	margin: 5px 0 5px 0;
}

.cart-button{
	background-color: black;
}

.second-row{
	display: block;
}

.footer{
	display: flex;
	justify-content: center;
	background-color: black;
	padding: 10px;
}

.footer p{
	color: white;
	display: block;
}

.footer h5{
	color: orange;
}

