

*{
	box-sizing: border-box;
	/*Specify that <div> elements should have padding and border 
	included in the element's total width and height*/
}

body{
  font-family: Arial, sans-serif;
}

.header{
	width:100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0;
	position: relative;
}

.your-cart{
	padding-right: 2px;
}

.header label{
	margin-top: 15px;
	margin-left: 45px;
}


.cart{
	align-items: flex-end;
	margin-top: 15px;
	margin-right: 45px;
}

.banner{
	display: flex;
	justify-content: center;
}

.banner h1{
	position: absolute;
	top: 100px;
	left: 10px
}

.banner img{
	height: 290px;
	width: 100%;
}

.tagline{
	display: flex;
	justify-content: center;
	background-color: black;
}

.tagline h3{
	color: white;
	padding: 20px;
}

.summary-instruction{
	display: flex;
	justify-content: center;
	padding: 10px;
	border: 1px solid black;
	font-style: italic;
}

/********************************************
*** Products table formatting****************
********************************************/

.products{
	display: flex;
	justify-content: center;
	margin: 15px;
}

.column1 .column2 .column3{
	display: block;
}

.item{
	text-align: center;
	border: 1px solid black;
	width: 150px;
	margin : 5px;
}

.item-name{
	color: white;
	background-color: black;
}

.cart-button button{
	background-color: orange;
	margin: 5px 0 5px 0;
}

.cart-button{
	background-color: black;
}

.price-tag{
	position: absolute;
	border: 1px solid grey;
	color: grey;
	top: 525px;
}

.align-price{
	top: 647px;
}


.pagination{
	display: flex;
	justify-content: center;
}

.pagination a{
	margin: 10px 7px 10px 7px;
}

/*actve pagination*/
.active{
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.footer {
	display: flex;
	justify-content: center;
	background-color: black;
	padding: 10px;
}

.footer p{
	color: white;
	display: block;
	margin: 8px 0 8px 0;
}

.footer h5{
	color: orange;
}

.footer-details{
	display: block;
	text-align: center;
}

